.product-list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Set grid columns to three fractional units */
    gap: 20px;
    /* Add gap between grid items */
}

.product-item {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-item p {
    margin-bottom: 5px;
}

.view-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.view-link:hover {
    background-color: #0056b3;
}

.add-to-cart-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #218838;
}