/* signup.css */
.signup-login-container {
    /* border: 1px solid #861a1a; */
    margin-top: 80px;
}
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.signup-container h1 {
    text-align: center;
}

.signup-container input[type="text"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #1a1a1a;
        border: 2px solid #f5f5f8;
        color: #f5f5f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #1a1a1ad0;
        border: 2px solid #f5f5f8;
        color: #f5f5f8;
}